.bodyLogin{
  background-color: rgb(7, 0, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bodyLogin .frmlogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  max-height: 400px;
}

.bodyLogin .frmlogin h1{
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.bodyLogin .frmlogin .inputText{
  margin-bottom: 20px;
  width: 60%;
  height: 50px
}

.bodyLogin .frmlogin .inputPass{
  margin-bottom: 20px;
  width: 60%;
  height: 50px
}

.bodyLogin .frmlogin .buttonlog{
  width: 45%;
  height: 60px;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgb(7, 0, 134);
}

.bodyLogin .frmlogin .buttonlog:hover{
  background-color: rgb(0, 0, 187);
}

.registros{
  display: flex;
  flex-direction: column;
}

.registros input[type='file']{
  margin-bottom: 10px;
}